$red: #d3168c;
$pink: #a618d1;
$lt-purple: #a618d1;
$dk-purple: #7605e0;
$blue: #1210d9;

body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  // background-color: #000F08;
  background-color: #011627;
}

.controls {
  border: 1px solid #ffffff;
  display: inline-block;
  margin-top: 5px;
  padding: 20px 20px;
  label, input {
    color: #ffffff;
  }

  input[type=range]::-moz-range-thumb {
  }
}
